*{
  margin: 0;
  top: 0;
  box-sizing: border-box;
}

.main{
  height: 750px;
  width: 366px;
  margin: 100px auto;
  padding: 10px;
  background-color: #eff0f1
  ;
}

.head{
  height: 213px;
  padding-bottom: 2px;
  background-color: #fcfcfc
  ;
}

.cho{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  line-height: 86px;
}
.cho>div{
  width: 86px;
  height: 86px;
  background-color: #f0f0f0;
  font-size: 20px;
  font-weight: 400;
  border-bottom: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
}


.cho div:nth-child(4n){
  border-right: none;
}
.cho div:nth-child(-n+4){
  border-top: 1px solid #d3d3d3;
  color: #afafaf;
}

.cho .ico{
  color:#40c0e8;
}

.totl{
  display: flex;
}

.numb{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  line-height: 86px;
}

.numb>div{
  width: 86px;
  height: 86px;
  background-color: #fcfcfc;
  font-size: 20px;
  font-weight: 400;
  border-bottom: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
}

.tapb{
  display: flex;
  flex-direction:column;
  text-align: center;
  line-height: 86px;
}
.tapb>div{
  width: 86px;
  height: 86px;
  background-color: #f0f0f0;
  font-size: 20px;
  font-weight: 400;
  border-bottom: 1px solid #d3d3d3;
}


.tapb div:nth-child(-n+2){
   color:#40c0e8;
}

.tapb div:nth-child(3){
  flex:2;
  line-height: 172px;
  color: #edfcfe;
  background-color: #01b0ff;
}

