.father {
  width: 500px;
  height: 500px;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
}
.father .son {
  width: 150px;
  height: 150px;
  background-color: skyblue;
}
.father:hover .son {
  background-color: hotpink;
}
body {
  background: hotpink;
}
div {
  border: 1px solid hotpink;
}
p {
  color: hotpink;
}
li {
  border: 1px solid #ccc;
}
body {
  background-color: pink;
}
